.berlangganan-container{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
}

.class-container {
  display: flex;
  justify-content: center;
}

.title-berlangganan-container{
  margin-left: 4em;
}